apiVersion: apps/v1
kind: Deployment
metadata:
  name: engine-deployment
  labels:
    app: engine
spec:
  selector:
    matchLabels:
      app: engine
  template:
    metadata:
      labels:
        app: engine
    spec:
      containers:
      - name: engine
        image: mansong/platformengine:7.1
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"
        env:
          - name: JAVA_OPTS
            value: "-Xmx1024M -Xms500M"
        volumeMounts:
          - name: engine-config
            mountPath: "/usr/INSIGHTS_HOME/.InSights/server-config.json"
      volumes:
        - name: engine-config
          configMap:
            name: engine-config
      restartPolicy: Always